<ion-header>
  <ion-navbar color="base">
        <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Return Policy</ion-title>
 
  </ion-navbar>
</ion-header>

<ion-content class="kitabjam-regular" padding>
  <div style="background-color: #ececec; padding: 10px" >
<p  class="font-18" style="text-align: left" >We offer return policy without asking a question. It is as simple as our other processes.<br>

Not happy with the book or stationary you received? Simply return it to our rider and we will not ask any reason, however your feedback will be valuable for us in order to improve.  </div>
  <div class="text-center mg-tp-100" style="   
    color: white;
   
    background-color: #263238;
    border-radius: 5px;" padding>
  <img src="assets/img/logo.png">
<p>© 2017 A Project of VROX All rights reserved.</p>
</div>
</ion-content>
