<ion-header>
  <ion-navbar color="base">
        <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About Us</ion-title>
 
  </ion-navbar>
</ion-header>

<ion-content class="kitabjam-regular"  padding>
  <div style="background-color: #ececec; padding: 10px" >
<p  class="font-18" style="text-align: left" >Kitabjam is an online bookstore but not merely a store nor just a courier. We help you learn in your style and passion – bringing together knowledge and experience of the past, today’s needs and readiness for tomorrow.<br><br>

We understand that today parents follow extremely busy schedules and very little of their precious time is left to spend with their loved ones. Let Kitabjam serve you RIGHT AT YOUR DOORSTEP - your time is worth much more than queuing in busy markets.<br><br>

Kitabjam is all about customer centricity and customer satisfaction. We aim to deliver the books & stationery YOU want, at a place YOU prefer, at a time that suits YOU. Our staff has the expertise to ensure that our customers get the right books at the right time. In every interaction with Kitabjam, you’ll find staff who has a passion for customer centricity.<br><br>

As a first step, this is a portal that is user-friendly for ease and safe-ordering of books and course syllabus in the form of a book list making it convenient for ordering complete set of books at the start of academic year. But this is just a start, keep looking out for a series of services and activities that have been planned to launch in the upcoming months In shaa Allah to make this a top of the range bookstore with largest collection of books serving the academic needs of an evolving digital society – not just the course books!<br><br></p>
</div>

<div class="text-center" style="color: white;background-color: #263238; border-radius: 5px" padding>
  <img src="assets/img/logo.png">
  <p>© 2017 A Project of VROX All rights reserved.</p>
</div>
</ion-content>
