<ion-header>
  <ion-navbar color="base">
    <button ion-button menuToggle icon-only>
     <ion-icon name="menu"></ion-icon>
   </button>
    <ion-title>Contact Us</ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="kitabjam-regular" padding>
  <ion-list>
    <ion-list-header>Get in touch</ion-list-header>
    <ion-item (click)="openEmail()">
      <ion-icon color="base" name="md-mail" item-left ></ion-icon>
      info@kitabjam.com
    </ion-item>
    <ion-item (click)="call()">
      <ion-icon color="button" name="md-call" item-left ></ion-icon>
      +92 423 5238845
    </ion-item>
    <ion-item>
      <ion-icon color="base" name="logo-whatsapp" item-left></ion-icon>
      +92 321 4476969
    </ion-item>
    <ion-item>
      <ion-icon color="button" name="logo-facebook" item-left></ion-icon>
      facebook.com/Kitab.Jam
    </ion-item>
    <ion-item>
      <ion-icon color="base" name="logo-twitter" item-left></ion-icon>
      twitter.com/KitabJam
    </ion-item>

  </ion-list>
  <div class="text-center mg-tp-20" style=" 
   color: white;
   background-color: #263238 ;
   border-radius: 5px;" padding>
    <img src="assets/img/logo.png">
    <p>© 2017 A Project of VROX All rights reserved.</p>
  </div>
</ion-content>