<ion-header>
  <ion-navbar color="base">
        <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
 
  </ion-navbar>
</ion-header>

<ion-content class="image-bg kitabjam-regular" padding>
 <div class="mg-tp-20 text-center">
 <img src="assets/img/logo.png">
 </div>
  <div class="mg-tp-20" style="background-color: #4595d2; border-radius: 5px" padding>
  <p class="font-22 text-white">
   <span class="text-white" style="font-size: 24px;">Give us </span> <span color="button" style="font-size: 25px; font-weight: bold">booklist;</span><br>
    <span class="text-white" style="font-size: 24px;">we’ll do the rest!</span><br>
     Whichever book or course you need, share a snap of your list. We’ll call back with details (price etc.) and deliver – Its that simple!
  </p>
  <div class="text-center">
  <button  ion-button color="button" class="text-white" round (click)="goToOrder()">Order Now</button>
  </div>
  </div>
<ion-grid style="margin-top: 100px;">
  <ion-row>
    <ion-col width-50 ><button ion-button full color="button1" (click)= "goToQuickLinks()">Quick Links</button></ion-col>
    <ion-col width-50 ><button ion-button full color="button" (click)= "goToSupport()">Support</button></ion-col>
  </ion-row>
</ion-grid>

</ion-content>
