page-home {
.image-bg{
  background: url('../assets/img/banner-image.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
}
