
/*---------------display toggle----------------*/
.display-none{
	display: none;
}

.display-block{
	display: block;
}


/*--------------colors----------------*/
.text-red{
	color:red;
}
.text-green{
	color:green;
}
.text-white{
	color:white !important;
}
.text-black{
	color:black !important;
}
/*--------------background colors----------------*/
.bg-fff{
	background-color:#fff;
}
.bg-eee{
	background-color:#eee;
}
.bg-000{
	background-color: #000;
}

.bold{
	font-weight: bold;
}
/*--------------widths----------------*/
.width-full{
	width:100%;
}


/*--------------heights----------------*/
.height-full{
	height:100%;
}
.height-10{
	height:10px;
}
.height-20{
	height:20px;
}
.height-30{
	height:30px;
}
.height-40{
	height:40px;
}
.height-50{
	height:50px;
}
.height-60{
	height:60px;
}
.height-70{
	height:70px;
}
.height-80{
	height:80px;
}
.height-90{
	height:90px;
}
.height-100{
	height:100px;
}

.text-center{
	text-align: center;
}




/*--------------margins----------------*/

.mg-auto{
	margin-right: auto;
	margin-left:auto;
}
.mg-tp-10{
	margin-top:10px;
}
.mg-tp-20{
	margin-top:20px;
}
.mg-tp-15{
	margin-top:12px;
}

.mg-tp-30{
	margin-top:30px;
}
.mg-tp-40{
	margin-top:40px;
}
.mg-tp-50{
	margin-top:50px;
}
.mg-tp-60{
	margin-top:60px;
}
.mg-tp-70{
	margin-top:70px;
}
.mg-tp-80{
	margin-top:80px;
}
.mg-tp-90{
	margin-top:90px;
}
.mg-tp-100{
	margin-top:100px;
}

.mg-tp-110{
	margin-top:110px;
}

.mg-tp-120{
	margin-top:120px;
}

.mg-tp-130{
	margin-top:130px;
}
.mg-lt-10{
	margin-left:10px;
}

.no-margin{
	margin: 0px !important;
}

.mg-bt-20{
	margin-bottom: 16px;
}

/*--------------paddings----------------*/
.no-padding{
	padding: 0px !important;
}

.pd-all-xs{
	padding: 2px !important;
}

.pd-all-sm{
	padding: 5px !important;
}
.pd-tp-6 {
	padding-top: 6px;
}

.pd-tp-10{
	padding-top:10px;
}
.pd-tp-20{
	padding-top:20px;
}
.pd-tp-30{
	padding-top:30px;
}
.pd-tp-40{
	padding-top:40px;
}
.pd-tp-50{
	padding-top:50px;
}
.pd-tp-60{
	padding-top:60px;
}
.pd-tp-70{
	padding-top:70px;
}
.pd-tp-80{
	padding-top:80px;
}
.pd-tp-90{
	padding-top:90px;
}
.pd-tp-100{
	padding-top:100px;
}


.pd-bt-10{
	padding-bottom:10px;
}
.pd-bt-20{
	padding-bottom:20px;
}
.pd-bt-30{
	padding-bottom:30px;
}
.pd-bt-40{
	padding-bottom:40px;
}
.pd-bt-50{
	padding-bottom:50px;
}
.pd-bt-60{
	padding-bottom:60px;
}
.pd-bt-70{
	padding-bottom:70px;
}
.pd-bt-80{
	padding-bottom:80px;
}
.pd-bt-90{
	padding-bottom:90px;
}
.pd-bt-100{
	padding-bottom:100px;
}

.pd-lt-10{
	padding-left:10px;
}
.pd-lt-20{
	padding-left:20px;
}
.pd-lt-30{
	padding-left:30px;
}
.pd-lt-40{
	padding-left:40px;
}
.pd-lt-50{
	padding-left:50px;
}
.pd-lt-60{
	padding-left:60px;
}
.pd-lt-70{
	padding-left:70px;
}
.pd-lt-80{
	padding-left:80px;
}
.pd-lt-90{
	padding-left:90px;
}
.pd-lt-100{
	padding-left:100px;
}



.pd-rt-10{
	padding-right:10px;
}
.pd-rt-20{
	padding-right:20px;
}
.pd-rt-30{
	padding-right:30px;
}
.pd-rt-40{
	padding-right:40px;
}
.pd-rt-50{
	padding-right:50px;
}
.pd-rt-60{
	padding-right:60px;
}
.pd-rt-70{
	padding-right:70px;
}
.pd-rt-80{
	padding-right:80px;
}
.pd-rt-90{
	padding-right:90px;
}
.pd-rt-100{
	padding-right:100px;
}

/*--------------border--------------*/

.brdr-tp-grey{
	border-top: 1px solid #bfbfbf;
}

.brdr-bt-grey{
	border-bottom: 1px solid #bfbfbf;
}

.brdr-rt-grey{
	border-right: 1px solid #bfbfbf;
}

.border-none{
	border:none;
}



/*--------------fonts--------------*/
.font-10{
	font-size:10px;
}
.font-11{
	font-size:11px;
}
.font-12{
	font-size:12px;
}
.font-14{
	font-size:14px;
}
.font-16{
	font-size:16px;
}
.font-18{
	font-size:18px;
}
.font-20{
	font-size:20px;
}
.font-24{
	font-size:24px;
}
.font-36{
	font-size:36px;
}
.font-42{
	font-size:42px;
}
.font-68{
	font-size:68px;
}
.font-72{
	font-size:72px;
}