<ion-menu [content]="content">

    <ion-header>
        <ion-toolbar color="base">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="kitabjam-regular" padding>
        <ion-list>
        <ion-item (click)="goToAbout()">About Us</ion-item>
         <ion-item (click)="goToContact()">Contact Us</ion-item> 
         <ion-item (click)="goToRPolicy()">Return Policy</ion-item> 
        </ion-list>
        <div style="text-align: center">
        <p style="position: absolute; bottom: 5px; font-size: 12px;">© 2017 A Project of VROX All rights reserved.</p>
    </div>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>