<ion-header>
  <ion-navbar color="base">
        <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Quick Links</ion-title>
 
  </ion-navbar>
</ion-header>

<ion-content class="kitabjam-regular"  padding>
 
<ion-list>
  <ion-item (click)="openModal(description1,title1)">
    <h2 style="margin-top:4px;" >Stationery</h2>
    
  </ion-item>
   <ion-item (click)="openModal(description2,title2)">
    <h2 style="margin-top:4px;" >Notebooks</h2>
   
  </ion-item>
     <ion-item (click)="openModal(description3,title3)">
    <h2 style="margin-top:4px;"  >School Book List</h2>
  
  </ion-item>
     <ion-item (click)="openModal(description4,title4)">
    <h2 style="margin-top:4px;" >Full Syllabus Order</h2>
   
  </ion-item>
     <ion-item (click)="openModal(description5,title5)">
    <h2 style="margin-top:4px;" >Selective Books</h2>
  
  </ion-item>
     <ion-item (click)="openModal(description6,title6)">
    <h2 style="margin-top:4px;" >Track Your Order</h2>
   
  </ion-item>
     <ion-item (click)="openModal(description7,title7)">
    <h2 style="margin-top:4px;" >Edit/Amend Your Order</h2>
  
  </ion-item>
     <ion-item (click)="openModal(description8,title8)">
    <h2 style="margin-top:4px;" >Return/Refund Policy</h2>
   
  </ion-item>
</ion-list>


</ion-content>
