<!--
  Generated template for the ModalContent page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="base">
    <ion-row>
     <button ion-button clear color="button2" (click)="dismiss()">
        <span color="button2" ion-text showWhen="ios">Cancel</span>
        <ion-icon color="button2" name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    <ion-title color="button2">{{title}}</ion-title>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content class="kitabjam-regular" padding>
<p class="font-18">{{description}}</p>

</ion-content>
