<ion-header>
  <ion-navbar color="base">
        <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Order Now</ion-title>
 
  </ion-navbar>
</ion-header>


<ion-content class="kitabjam-regular" style="background-color: #4595d2; color:black" padding>
<p class="font-12"><b>NOTE:</b> We also accept orders through Phone/WhatsApp.<br><span (click)="call()"> +92 321 4476969</span>
    </p>
 
<form [formGroup]="signupForm">
  <ion-list style="margin-bottom: 0px;">

  <ion-item>
    <ion-label floating>Your Name</ion-label>
    <ion-input type="text" formControlName="name" [class.invalid]="!signupForm.controls.name.valid && (signupForm.controls.name.dirty || submitAttempt)"></ion-input>
  </ion-item>
 <ion-item *ngIf="!signupForm.controls.name.valid  && (signupForm.controls.name.dirty || submitAttempt)">
      <p>Please enter a valid name.</p>
    </ion-item>


 <ion-item>
    <ion-label floating>Your Email</ion-label>
    <ion-input type="email" formControlName="email" [class.invalid]="!signupForm.controls.email.valid && (signupForm.controls.email.dirty || submitAttempt)"></ion-input>
  </ion-item>
 <ion-item *ngIf="!signupForm.controls.email.valid  && (signupForm.controls.email.dirty || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>
  <ion-item>

    <ion-label floating>Your Phone</ion-label>
    <ion-input type="number" formControlName="phone" [class.invalid]="!signupForm.controls.phone.valid && (signupForm.controls.phone.dirty || submitAttempt)" ></ion-input>
  </ion-item>
  <ion-item *ngIf="!signupForm.controls.phone.valid  && (signupForm.controls.phone.dirty || submitAttempt)">
      <p>Please enter a valid phone number.</p>
    </ion-item>
   <ion-item>
    <ion-label floating>Your Shipping Address</ion-label>
    <ion-input type="text" formControlName="address" [class.invalid]="!signupForm.controls.address.valid && (signupForm.controls.address.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf="!signupForm.controls.address.valid  && (signupForm.controls.address.dirty || submitAttempt)">
      <p>Please enter a valid address.</p>
    </ion-item>
 <ion-item>
    <ion-label floating>Institute Name</ion-label>
    <ion-input formControlName="institute" type="text"></ion-input>
  </ion-item>
  <!--<ion-item *ngIf="!signupForm.controls.institute.valid  && (signupForm.controls.institute.dirty || submitAttempt)">
      <p>Please enter a valid institute name.</p>
    </ion-item>-->
 <ion-item>
    <ion-label floating>Grade</ion-label>
    <ion-input formControlName="grade" type="text"></ion-input>
  </ion-item>
  <!--<ion-item *ngIf="!signupForm.controls.grade.valid  && (signupForm.controls.grade.dirty || submitAttempt)">
      <p>Please enter a valid grade.</p>
    </ion-item>-->
  <ion-item class="font-12">
    <ion-label stacked>Delivery Type</ion-label>
    <ion-select formControlName="delivery" [class.invalid]="!signupForm.controls.delivery.valid && (signupForm.controls.delivery.dirty || submitAttempt)">
      <ion-option value="Delivery within 10 Days (10% discount on books)">10 Days delivery (10% discount on books)</ion-option>
      <ion-option value="Standard Delivery (next day)">Standard Delivery (next day)</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="!signupForm.controls.delivery.valid  && (signupForm.controls.delivery.dirty || submitAttempt)">
      <p>Please choose one.</p>
    </ion-item>
</ion-list>

 <div class="text-center mg-bt-20" style="background-color: white">
   
<ion-grid>
  <p style="text-align: left;color: #999; padding-left: 12px;">Upload Picture</p>
<ion-row>
 
  <ion-col width-50>
    <img src="assets/icon/001-gallery.png" style="width:40%" alt="" (click)="openGallery()">
    <p style="color: #999;">Gallery</p>
  </ion-col>
  
  
  <ion-col width-50>
    <img src="assets/icon/002-photo-camera.png" style="width:40%" alt="" (click)="openCamera()">
    <p style="color: #999;">Camera</p>
  </ion-col>
 
</ion-row>
</ion-grid>
</div>
<p class="text-center" style="color:white" *ngIf="photoRef">1 picture selected<button style="margin-top: -5px;" ion-button icon-only color="dark" clear (click)="close()">
     <ion-icon name="close"></ion-icon>
   </button></p>

<button ion-button block color="button2" (click)="submit()">Place Order</button>
</form>

</ion-content>
